<!--
Advanced Programming Midterm Exam

Fransiscus Emmanuel Bunaren
1806173506
-->
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
      xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>
    th , td{
        border : 1px solid;
    }
</style>
<center/>
<!-- End of Header -->

<h1 class="bg-primary" style="color:white;">User Information</h1>

    <table th:action="@{/details/{id}(id=${user.id})}" th:object="${user}">
    <tr>
        <td class="btn-success">User ID : </td>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <td class="btn-success">Display Name : </td>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <td class="btn-success">Email Address : </td>
        <td th:text="${user.email}"></td>
    </tr>
    </table>

</form>


<!-- Footer -->

<br/>
<img src="https://bunaren.com/advprog/img/main.jpg" width="500px"><img>
<br/><br/>

<div class="bg-dark" style="color:white;"><br/>
    Search User by ID : <input type="text" name="id" id="searchbar"></input> <button class="btn-primary" onclick="top.location = '/details/' + searchbar.value;">Search</button>
    <br/><br/>
</div>