<!--
Advanced Programming Midterm Exam

Fransiscus Emmanuel Bunaren
1806173506
-->
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>
    th , td{
        border : 1px solid;
    }
    a {
        color:white;
        text-decoration: none;
    }
    .btn{
        margin:10px;
    }
</style>
<center/>
<!-- End of Header -->

<div th:switch="${users}">
    <h2 th:case="null" class="btn-danger">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table class="bg-light">
            <thead>
            <tr>
                <th class="btn-primary">ID</th>
                <th class="btn-primary">Name</th>
                <th class="btn-primary">Email</th>
                <th class="btn-primary">Website</th>
                <th class="btn-primary">Edit</th>
                <th class="btn-primary">Delete</th>
                <th class="btn-primary">Detailed Information</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td><button class="btn btn-success"><a th:href="${user.website}">Click Here</a></button></td>
                <td><button class="btn btn-warning" ><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></button></td>
                <td><button class="btn btn-danger" ><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></button></td>
                <td><button class="btn btn-primary" ><a th:href="@{/details/{id}(id=${user.id})}">Details</a></button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <p><a href="/signup" class="btn btn-primary">Add a new user</a></p>
</div>

<!-- Footer -->

<br/>
<img src="https://bunaren.com/advprog/img/main.jpg" width="500px"><img>
<br/><br/>

<div class="bg-dark" style="color:white;"><br/>
    Search User by ID : <input type="text" name="id" id="searchbar"></input> <button class="btn-primary" onclick="top.location = '/details/' + searchbar.value;">Search</button>
    <br/><br/>
</div>